*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
}

h1{
    font-size: 2.5em;
    margin: 15px;
    margin-left: 50px;
}
nav{
    width: 70%;
    margin-left: 30px;
}
nav,#search{
    margin-top: 40px;
}

nav, nav > ul > li{
    display: inline-block;
}
nav > ul > li{
    margin: 0 25px;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#999;
}

#search{
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #E3E3E3;
    background-color: #F0F0F0;
    margin-right: 70px;
    float: right;
    width: 15%;
}
header:after{
    clear:both;
}
ul{
    list-style-type: none;
}
hr{
    color:#E3E3E3;
    width:95%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
}

/** section **/
section{
    margin: 0;
    margin-top: 20px;
    width:50%;
    font-size: 1.5em;
}

aside,section{
    display:inline-block;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: top;
}
section>p:last-child{
    margin-top:40px;
}

/** aside **/
#left{
    float:left;
}
#right{
    float: right;
}
aside{
    color: grey;
    margin-top: 60px;
    width:15%;
    font-size: 12px;
}
aside ul{
    border-top: 1px solid #E3E3E3;
    padding: 10px 35px 10px 10px;
}
aside a{
    text-decoration: none;
}
.right ul{
    padding-left: 0;
}

/** article **/
.extra-info{
    color: #A0A0A0;
    font-size: 0.45em;
}
.extra-info time,.author,.comment-link{
    font-weight: bold;
}
.comment-link,.author{
    border-bottom: 1px dotted #A0A0A0;
    text-decoration: none;
    color: #A0A0A0;
}
article p a{
    text-decoration: none;
}
section p{
    margin-top:20px;
    font-size:0.6em;
}
#previous{
    text-decoration: none;
}
article{
    padding-bottom: 20px;
}
article:last-of-type{
    border-bottom: 1px solid lightgray;
}

/** footer **/
.footerMessage{
    padding-left: 50px;
    line-height: 30px;
    margin:20px 0 0 0;
    font-size: 0.7em;
    color:gray;
    background-color: #F0F0F0;
    clear:both;
    font-style: italic;
}
footer{
    position: fixed;
    top:85%;
}
.footer{
    height:120px;
    background-color: black;
}
.footerItem{
    display: inline-block;
    margin: 20px;
    padding-left: 10px;
    padding-right: 20px;
    width:13%;
    vertical-align: top;
    color:white;
}
.footerItem header{
    padding-bottom: 5px;
}
.footerItem{
    font-size: 0.7em;
}
.footerItem:first-child{
    font-size: 1em;
}
.footerItem li{
    padding-left: 5px;
    font-weight: bold;
}
.footerText{
    color: gray;
}
.footerText a{
    text-decoration: none;
    color:white;
}
/** bubble **/
span#bubble
{
    display: inline-block;
    position: relative;
    width: 5px;
    height: 5px;
    text-align: center;
    line-height: 3px;
    font-size: 0.9em;
    color:white;
    font-style: normal;
    background-color: #A0A0A0;
    border: 2px solid #A0A0A0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    /** letter scale **/

    transform:scale(1.5,1.0);
}

span#bubble:before
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 5px;
    border: 3px solid;
    border-color: #A0A0A0 #A0A0A0 transparent transparent;
}
