<div>
    <div ng-if="identityService.isLogged()" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span  class="navbar-brand pageTitle">{{currentPage}}</span>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/">Dashboard</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a id="profileName" href="#/profile/password">{{identityService.getUsername()}}</a></li>
                    <li><a href="#/" ng-click="logout()">Logout</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div ng-if="!identityService.isLogged()" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span href="#/" class="navbar-brand pageTitle">Soft Uni Issue Tracker</span>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>
</div>